* {
  margin: 0px;
  padding: 0px;
}

.bgimg{
  background-image: url('../src/bgimg/1-home.jpg');
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
}

.btn1{
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 10px;
  background: none;
  color: black;
}

.btn1:hover{
  padding: 10px 30px;
  border: 2px solid green;
  border-radius: 10px;
  background: green;
  color: white;
  transition: 0.5s;
}